@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&display=swap');

.container-fluid {
    font-family: 'DM Sans', sans-serif;
}

.navbar {
    background-color: rgba(8, 45, 100, 0.9);/* 0.5 equivale al 50% de opacidad */
    backdrop-filter: blur(5px);
}

#img {
    transition: 0.3s;
}

#img:hover {
    box-shadow: 0px 10px 30px 5px #00c6ff;
    -webkit-box-shadow: 0px 10px 30px 5px #00c6ff;
}

#colored-line{
    padding: 2px;
    background: linear-gradient(45deg, #00c6ff, #0072ff, #00c6ff);
    border-radius: 100px;
    border: 0px;
    margin-top: -5px;
}

#profesion{
    font-size: 2.00rem;
    background: linear-gradient(45deg, #00c6ff, #0072ff, #00c6ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: changeColor 10s linear infinite;
}

@keyframes changeColor {
    0% {
        color: #0072ff; /* Azul */
    }
    20% {
        color: #00c6ff; /* Azul claro */
    }
    40% {
        color: #ff5733; /* Rojo */
    }
    60% {
        color: #ffac33; /* Naranja */
    }
    80% {
        color: #d61bd6; /* Magenta */
    }
    100% {
        color: #0072ff; /* Azul */
    }
}

  

